html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.board {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cell {
  float: left;
  width: 10px;
  height: 10px;
  background-color: white;
  transition: background-color .1s;
  box-shadow: inset 0 0 1px 0 #ddd;
}

.cell.is-alive {
  background-color: black;
}

button {
  font-size: 30px;
}
