html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.board {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cell {
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transition: background-color .25s;
  box-sizing: border-box;
  margin: 1px;
}

.cell:hover {
  transition: none;
  background-color: darkgrey;
}

.cell.is-alive {
  background-color: white;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  padding: 10px;
}

.controls:hover {
  opacity: 1;
}

button {
  font-size: 30px;
}
